@tailwind base;
@tailwind utilities;

input[type=text] {
  min-width: 300px;
  outline: none;
  border-bottom: 1px solid black;
  padding: 1em 1.5em;
  margin-bottom: .25em;
}

button {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: .5em 1em;
}

button:disabled {
  background-color: #555;
}

.cc {
  max-width: 500px;
}

.main-text {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 1em;
}

.form-block {
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
